body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cbeefd;
  flex-direction: column;  /* Position elements in a column */
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

#gameCanvas {
  background-color: #f3f3f3;
  border: 1px solid #000;
}

#mintButton {
  margin-top: 20px;  /* Space between the canvas and the button */
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#mintButton:hover {
  background-color: #45a049;
}
